<div class='control-group nested-fields'>
  <div class="controls">
    <%  f.object = ::Indicadorpf.new if !f.object %>

    <%= f.association :resultadopf,
        label_method: :numero %>

    <%= f.input :numero %>

    <%= f.input :indicador %>

    <%= f.input :id, as: :hidden %>

    <%= link_to_remove_association "Eliminar Indicador", 
      f, :class => 'btn-danger' 
    %> 
  </div>
</div>
