<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a>
<%- elsif !current_usuario.dominio_principal.formulariocaso.nil? then %> 
  <article>
  <script>
    $(document).ready(function() {
      window.sivel2_enviarFichaCasoCada60()  ;
    });
  </script>


  <%= simple_form_for @caso, html: { class: 'form-horizontal' } do |f| %>
    <div data-role="content" class="form-inputs">

      <%= render partial: 'sip/hogar/errores', locals: { f: f } %> 
      <%= render partial: 'sivel2_gen/casos/datos_interjs', locals: { f: f } %>


      <div role="tabpanel">       
        <ul class="nav nav-tabs" role="tablist">
          <% cac = 'class=active' %>
          <% current_usuario.dominio_principal.formulariocaso.pestanafc.
            order(:orden).each do |p| %>
            <li role="presentation" <%= cac %>><a href="#<%= Mr519Gen::ApplicationHelper.nombre_a_nombreinterno(p.parcial) %>" 
              class="fichacambia" aria-controls="<%= Mr519Gen::ApplicationHelper.nombre_a_nombreinterno(p.parcial) %>" role="tab" 
            data-toggle="tab"><%= Sivel2Sjr::Casosjr.human_attribute_name(p.titulo) %></a></li>
            <% cac = '' %>
          <% end %>
        </ul>
        <div class="tab-content">
          <%= f.simple_fields_for :casosjr do |s| %>
            <% cac = ' active' %>
            <% current_usuario.dominio_principal.formulariocaso.pestanafc.
              order(:orden).each do |p| %>
              <div role="tabpanel" class="tab-pane<%= cac %>" id="<%= Mr519Gen::ApplicationHelper.nombre_a_nombreinterno(p.parcial) %>" > 
                <%= render p.parcial, f: f, s: s %>
              </div> 
              <% cac = '' %>
            <% end %>

          <% end %>
        </div> <!-- tab-content -->
      </div> <!-- tabpanel -->
    </div> <!-- form-inputs -->

    <div class="form-actions">
      <%= f.button :submit, 'Validar y Guardar', {
        class: 'btn-primary',
        onclick: 'window.sivel2_detenerEnviarCada60()'
      } %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        casos_path, :class => 'btn' 
      %>
    </div> <!-- form-action -->
  <% end %> <!-- simple_form_for @caso -->
  </article>
<% else %>
  <p>El dominio del usuario no tiene definidas pestañas del formulario Caso</p>
<% end %> <!-- elseif  -->

